#=============== Environment configuration ===========#
env=DEMO
DEMO.base=https://api.github.com
DEMO.api_url=https://api.github.com
DEMO.username=icalealr
DEMO.repo_name=test
DEMO.token=INSERT_YOUR_TOKEN
